* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#passGen-section {
    background-color: bisque;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* background animation start */

#passGen-section {
    background: linear-gradient(270deg, #00e6ab, #00a9e6);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/* background animation end */

#passGen-container {
    background-color: white;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

#passGen-container h1 {
    margin-bottom: 10px;
}

#passLengthRange {
    width: 100%;
    accent-color: rgb(57, 14, 160);
}

.passGenItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#copyPass {
    background-color: black;
    color: white;
    align-self: center;
    padding: 10px;
}

.passGenItems label {
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.passGenItems #passBox {
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    padding: 5px 10px;
}

.passGenItems #submitPass {
    width: 100%;
    font-size: 25px;
    padding: 5px;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.passGenItems #submitPass:hover {
    background-color: rgb(27, 6, 75);
}

.passGenItems .checkDesign {
    accent-color: rgb(57, 14, 160);
    height: 20px;
    width: 20px;
    color: white;
    cursor: pointer;
    align-self: center;
}

#byTushar {
    margin-top: -55px;
}